*{
	padding: 0;
	margin: 0;
}
body{
	height: 100%;
	height: 100%;
}
.home-btn{
	position: absolute;
    height: 35px;
    width: 100px;
    top: 50%;
    left: 35%;
}
.plan-agian-btn{
   position: absolute;
    height: 50px;
    width: 100px;
    top: 45%;
    left: 45%;
}
.home-btn.text1{
	margin-top: 20px;
    color: red;
}
.home-btn.text2{
	top: 85%;
}

.home-btn.text3{
	top: 62%;
	 left: 35%;
}
.fl{
	float: left;
}

.f2{
	display:block;
	float: left;
	width:100px;
	height:30px;
}
.home-btn a{
	text-decoration: none;
	/*padding: 15px;*/
	/*color: #6dffe2;
	border: 1px solid #f3f3f3;
	background-color: darkgray;*/


    width: 90px;
    text-align: center;
    line-height: 2;
	    text-decoration: none;
    padding: 7px;
    color: black;
    border: 1px solid #f3f3f3;
    background-color: #ff9849;
    font-weight: bolder;
}
#goback{
	bottom: 10%;
}
.gameperson{
	position: absolute;
    top: 10%;
    left: 10%;
}
.gameship{
	position: absolute;
    bottom: 15%;
    left: 5%;
}

.gamebody img{
	width: 20%;
}
ul{
	width: 100%;
    position: absolute;
    top: 20%;
}
ul li{
	display: inline;
	margin-left: 12px;
}
.path11{
	transform: rotate(0deg);
}
.path22{
	transform: rotate(90deg);
}
.path34{
	transform: rotate(0deg);
}
.path41{
	transform: rotate(90deg);
}
.path12{
	transform: rotate(180deg);
}
.path23{
	transform: rotate(270deg);
}
.congratulation{
	display: none;
}
.congratulation.success{
	display: block;
    position: absolute;
    top: 80%;
    left: calc( 50% - 60px );
    color: red;
    font-size: 30px;
    font-weight: bolder;
}
#timeout{
	position: absolute;
	top: 85%;
	right: 44%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	background-color: red;
}
