*{
	padding: 0;
	margin: 0;
}
body{
	height: 100%;
	height: 100%;
	/*position: relative;*/
	/*background:transparent url(../images/home1.jpg) no-repeat;
	background-size: cover;
	background-origin: border-box;*/
}
.home-btn{
	position: absolute;
    height: 50px;
    width: 100px;
    top: 50%;
    left: 38%;
}
.home-btn.text1{
	margin-top: 20px;
    color: red;
}
.home-btn.text2{
	top: 85%;
}
/*.home1{
	background:transparent url(../images/home1.jpg) no-repeat;
	background-size: cover;
	background-origin: border-box;
}
.home2{
	background:white url(../images/person2.png) no-repeat;
	background-size: cover;
	background-origin: border-box;
}*/
.fl{
	float: left;
}
.home-btn a{
	text-decoration: none;
	padding: 15px;
	color: #6dffe2;
	border: 1px solid #f3f3f3;
	background-color: darkgray;
}
#goback{
	bottom: 10%;
}
.gameperson{
	position: absolute;
    top: 10%;
    left: 10%;
}
.gameship{
	position: absolute;
    bottom: 15%;
    left: 5%;
}

.gamebody img{
	width: 20%;
	/*margin-bottom: 10px;*/
}
ul{
	width: 100%;
    position: absolute;
    top: 20%;
    /*left: 8%;*/
}
ul li{
	display: inline;
	margin-left: 12px;
}